footer.copyright {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #fff;
  padding: 25px 0 25px 25px;
}
@media screen and (max-width: 600px) {
  footer.copyright {
    width: 100%;
  }
}
